<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>Who We Are?</h4>
        <p>
            At SMILORA, our mission is to make dental care simple, comfortable, 
            trustworthy, women and children friendly. The clinic is founded by 
            Dr. Ayesha Fathima, who has years of experience as a resident dentist 
            at multiple clincis and large hospitals. With this experience, she 
            brings both clinical expertise and a personal touch to every patient’s care.</p>
      </div>
      <div class="col-lg-4">
        <h4>What We Do?</h4>
        <p>

          We provide a full range of dental services — from routine check-ups and preventive
          care to treatments such as orthodontics, cosmetic dentistry, and implants. 
          At SMILORA, we focus not just on healthy teeth, but on creating a relaxed, 
          patient-friendly experience. Every smile we treat is cared for with the same 
          dedication and attention we’d give to our own family.
        </p>
      </div>
       </div>
  </div>
</section>
