<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}" />
  {% if site.meta_author %}
  <meta name="author" content="{{ site.meta_author }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.xml">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{ " style.css" }}">

  <!-- Google verification -->
  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

  <!-- Bing Verification -->
  {% if site.bing_verify %}
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{ " css/font-awesome/css/all.min.css" }}">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dentist",
  "name": "SMILORA Dental Clinic",
  "url": "https://smilora.online",
  "logo": "https://smilora.online/img/Oval%20logo-1.png",
  "image": "https://smilora.online/img/profile.png",
  "description": "FREE first dental consultation at Smilora Dental Clinic in RT Nagar/ Munireddypalya/ JC Nagar, Bangalore.",
  "telephone": "+91-9611388738",
  "priceRange": "₹₹",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "97/107, Munireddypalya Main Road, Opposite Zam Zam Bakery",
    "addressLocality": "RT Nagar",
    "addressRegion": "KA",
    "postalCode": "560006",
    "addressCountry": "IN"
  },
  "areaServed": {
    "@type": "Place",
    "name": "RT Nagar, Bangalore"
  },
  "makesOffer": {
    "@type": "Offer",
    "name": "FREE First Dental Consultation",
    "price": "0",
    "priceCurrency": "INR",
    "availability": "https://schema.org/InStock"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+91-9611388738",
    "contactType": "customer support",
    "availableLanguage": ["English", "Kannada", "Hindi"]
  }
}
</script>
<meta property="og:site_name" content="SMILORA Dental Clinic">
<meta property="og:title" content="FREE 1st Dental Consultation | Smilora Dental Clinic">
<meta property="og:description" content="Book a FREE first dental consultation in RT Nagar, Munireddypalya, JC Nagar Bangalore. Chat on WhatsApp now.">
<meta property="og:url" content="https://smilora.online">
<meta property="og:type" content="business.business">

<link rel="me" href="https://wa.me/919611388738">

  
</head>
